---
import Blogpost from '../../components/Blogpost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts: any[] = await getCollection("posts");
  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
  
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <h1 class="my-4 text-4xl">Posts about {tag}</h1>
  <ul>
    {posts.map((post) => <Blogpost url={`/posts/${post.slug}`} title={post.data.title}/>)}
  </ul>
</BaseLayout>