---
import BaseLayout from '../layouts/BaseLayout.astro';
import Tags from '../components/Tags.astro';
import PostList from '../components/PostList.astro';
import { getCollection } from 'astro:content';

const allPosts = (await getCollection('posts')).sort(
    (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
const pageTitle = "My Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class="my-4 text-4xl">{pageTitle}</h1>
    <Tags />
    <PostList posts={allPosts} />
</BaseLayout>
