---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import selfImage from '../assets/self.jpeg';
const pageTitle = "Home Page";
const wavyBackground = "sm:bg-[url('/wavesBackgroundLight.svg')] sm:dark:bg-[url('/wavesBackgroundDark.svg')] bg-center bg-cover"
---

<BaseLayout pageTitle={pageTitle} customBodyStyle={wavyBackground}>
	<link slot="head" href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap" rel="stylesheet">
	<h1 class="my-4 text-6xl sm:leading-normal" style="font-family: 'Bagel Fat One', cursive;">
		<Greeting client:load greetings={["Hi", "Hello", "Howdy", "Hey there", "Hola", "Konnichiwa"]} /> I'm <span style="color:#8ECAE6">Israel</span>. Welcome to my corner of the internet. 🤠
	</h1>
	<Image class="rounded-md" src={selfImage} alt="Self Image" />
</BaseLayout>