---
---

<footer>
    <p>Check me out on <a href={`https://www.github.com/bravo-is`}><img src="/github-mark.svg" width="50" height="50"></a></p>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>