---
---
<div class="menu cursor-pointer sm:hidden">
    <!-- Hamburger icon, visible by default -->
    <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hamburger size-10 -scale-x-100">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25" />
    </svg>
    <!-- Close icon, hidden by default -->
    <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="close hidden size-10">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
    </svg>            
</div>

<script>
    // Listen for Astro's page load event to ensure the DOM is ready
    document.addEventListener('astro:page-load', () => {
        // Toggle navigation visibility on menu click
        document.querySelector('.menu')?.addEventListener('click', function() {
            const navLinks = document.querySelector('.nav-links'); // Navigation links container
            const hamburger = document.querySelector('.hamburger'); // Hamburger icon
            const close = document.querySelector('.close'); // Close icon
            // Toggle the 'hidden' class to show/hide elements
            navLinks?.classList.toggle('hidden');
            hamburger?.classList.toggle('hidden');
            close?.classList.toggle('hidden');
        });
    });
</script>
