---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import ProgressBar from './ProgressBar.tsx';
---

<header id="main-header" class="sm:relative sticky top-0 z-50 sm:rounded-md rounded-md sm:-mx-0 bg-neutral-200/90 dark:bg-neutral-700/90 backdrop-blur-sm">
    <nav>
        <div class="flex justify-between p-2">
            <Hamburger />
            <p>Israel Bravo</p>
            <ThemeIcon />
        </div>
        <Navigation />
    </nav>
    <div class="sm:hidden">
        <ProgressBar client:load/>
    </div>
</header>

<script>
    // This script adds a scroll event listener to the window and updates the CSS classes of the main header element based on the scroll position.
    document.addEventListener('astro:page-load', () => {
        const header = document.getElementById('main-header');
        window.addEventListener('scroll', () => {
            if (window.scrollY > 100) { // Adjust the scroll threshold as needed
            header?.classList.add('-mx-4'); // Cover the horizontal padding
            header?.classList.remove('rounded-md'); // Remove the rounded corners
            } else {
            header?.classList.remove('-mx-4');
            header?.classList.add('rounded-md');
            }
        });
    });
</script>
