---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header class=" sm:relative sticky top-0 z-50 rounded-md sm:bg-transparent bg-neutral-200 sm:dark:bg-transparent dark:bg-neutral-700">
    <nav>
        <div class="flex justify-between">
            <ThemeIcon />
            <Hamburger />
        </div>
        <Navigation />
    </nav>
</header>
