---
---

<div class="nav-links hidden sm:flex sm:justify-center">
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white decoration-2 hover:underline focus:underline sm:inline-block sm:px-5 sm:py-4 rounded" href="/">Home</a>
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white decoration-2 hover:underline focus:underline sm:inline-block sm:px-5 sm:py-4 rounded" href="/about">About</a>
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white decoration-2 hover:underline focus:underline sm:inline-block sm:px-5 sm:py-4 rounded" href="/blog">Blog</a>
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white decoration-2 hover:underline focus:underline sm:inline-block sm:px-5 sm:py-4 rounded" href="/bookshelf">Bookshelf</a>
</div>