---
---

<div class="nav-links w-full top-20 left-12 hidden m-0 sm:ml-20 sm:block sm:static sm:auto sm:bg-transparent">
    <a class="block text-center py-2.5 no-underline text-lg font-bold uppercase hover:bg-orange-600 focus:bg-orange-600 sm:inline-block sm:px-5 sm:py-4" href="/">Home</a>
    <a class="block text-center py-2.5 no-underline text-lg font-bold uppercase hover:bg-orange-600 focus:bg-orange-600 sm:inline-block sm:px-5 sm:py-4" href="/about">About</a>
    <a class="block text-center py-2.5 no-underline text-lg font-bold uppercase hover:bg-orange-600 focus:bg-orange-600 sm:inline-block sm:px-5 sm:py-4" href="/blog">Blog</a>
    <a class="block text-center py-2.5 no-underline text-lg font-bold uppercase hover:bg-orange-600 focus:bg-orange-600 sm:inline-block sm:px-5 sm:py-4" href="/tags">Tags</a>
    <hr class="sm:hidden" />
</div>