---
---

<div class="nav-links hidden sm:flex sm:justify-center">
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white hover:ring-2 hover:ring-orange-600 focus:ring-2 focus:ring-orange-600 sm:inline-block sm:px-5 sm:py-4 rounded" href="/">Home</a>
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white hover:ring-2 hover:ring-orange-600 focus:ring-2 focus:ring-orange-600 sm:inline-block sm:px-5 sm:py-4 rounded" href="/about">About</a>
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white hover:ring-2 hover:ring-orange-600 focus:ring-2 focus:ring-orange-600 sm:inline-block sm:px-5 sm:py-4 rounded" href="/blog">Blog</a>
    <a class="block text-center py-2.5 no-underline text-lg font-semibold uppercase dark:text-white hover:ring-2 hover:ring-orange-600 focus:ring-2 focus:ring-orange-600 sm:inline-block sm:px-5 sm:py-4 rounded" href="/tags">Tags</a>
    <hr class="sm:hidden" />
</div>