---
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
const tagCounts = allPosts.reduce((acc: { [key: string]: number }, post) => {
  post.data.tags.forEach(tag => {
    acc[tag] = (acc[tag] || 0) + 1;
  });
  return acc;
}, {});
const uniqueTags = Object.keys(tagCounts);
---

<div class="flex flex-wrap">
  <a href="/blog" class="max-w-fit m-1 rounded-md px-4 py-2 text-sm text-nowrap text-gray-500 dark:text-gray-400 bg-neutral-200 dark:bg-neutral-700 hover:bg-neutral-300 dark:hover:bg-neutral-600 inline-block">
    <p >
        all
    </p>
  </a>
    {uniqueTags.map((tag) => (
        <a href={`/tags/${tag}`} class="max-w-fit m-1 rounded-md px-4 py-2 text-sm text-nowrap text-gray-500 dark:text-gray-400 bg-neutral-200 dark:bg-neutral-700 hover:bg-neutral-300 dark:hover:bg-neutral-600 inline-block">
          <p>
              {tag} [{tagCounts[tag]}]
          </p>
        </a>
    ))}
</div>
